.emacs.d/auto-save-list
.emacs.d/backup
.Xauthority
.backout/
.bash_completion
.bash_completion.d/
.bash_history
.bash_profile
.cgdb/
.colordiffrc
.cortex/
.elinks/
.emacs~
.gnupg/
.inputrc
.irssi/
.ispell_words
.kde/
.lesshst
.m2/
.multitailrc
.my_software/
.p4rc
.procman/
.profile
.profile-user
.psql_history
.pub/
.screenrc
.serverauth.29582
.serverauth.30876
.serverauth.8725
.sms_mysql/
.snapshot/
.sqlite_history
.ssh/
.subversion/
.tgdb/
.viminfo
.zcompdump
config
finder
pmgr_scripts/
projects/
public_html/
test/
tmp/
trash/
.local_bash_rc
.local_emacs.d
.local_emacs